.navbar {
  position: fixed;
  background-color: antiquewhite;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
}

.navbar .content {
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  margin: auto;
}

.menu {
  list-style: none;
  display: flex;
  align-items: center;
}

.menu li {
  padding: 10px;
  cursor: pointer;
  height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
}

.menu li:hover {
  background-color: rgb(0, 54, 105);
  transition: 300ms;
  color: white;
}

h1 {
  margin: 0 !important;
}

h2 {
  margin: 0 !important;
}

p {
  margin: 0 !important;
}

.container {
  max-width: 1100px;
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  margin-top: 50px;
}

.card {
  border: 1px solid green;
  padding: 10px;
  width: 300px;
  text-align: center;
  margin: 25px 0;
  border-radius: 12px;
  height: 400px;
  position: relative;
}

.card img {
  width: 150px;
  border-radius: 8px;
}

.card .content {
  padding: 15px 0 30px 0;
}

.card .action {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 300px;
  padding: 0 10px;
}

.btn-primary {
  transition: 300ms;
  border: none;
  background-color: white;
  border: 1px solid #97f4c2;
  padding: 10px 25px;
  border-radius: 8px;
  width: 48%;
  cursor: pointer;
  font-weight: bold;
}

.btn-primary:hover {
  transition: 300ms;
  background-color: #97f4c2;
  border: 1px solid #97f4c2;
  color: white;
}

.btn-secondary {
  transition: 300ms;
  border: none;
  background-color: white;
  border: 1px solid #f49797;
  padding: 10px 25px;
  border-radius: 8px;
  width: 48%;
  font-weight: bold;
  cursor: pointer;
}

.btn-secondary:hover {
  transition: 300ms;
  background-color: #f49797;
  border: 1px solid #f49797;
  color: white;
}

.ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  /* white-space: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;
  font-style: italic;
}
